body
{
  /* background:#000; */
  margin:0;
}

#parent
{
  height:4000px;
  width:5200px;
  background:#ededed;
  position:relative;
  /* background-image: url('images/11-_MG_0064.jpg'); */
}
#parent:after
{
  content:'';
  clear:both;
  display:block;
}
.child
{

  width:100px;
  height:100px;
  position:relative;

}
