.indentten{
  margin-left: 9%;
}
.indentfifteen{
  margin-left: 16%;
}
.indenttwenty{
  margin-left: 19%;
}
.indenttwentyfive{
  margin-left: 24%;
}
.indentthirty{
  margin-left: 33%;
}
.indentthirtyfive{
  margin-left: 10%;
}
