/* mover {
  motion-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
  offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
  motion-rotation: reverse;
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
}

@-webkit-keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
.mover {
  width: 71px;
  height: 54px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/pointer-hand.svg) no-repeat;
  position: absolute;
  left: 30%;
  top: 100px;
} */
.linemovers{
  font-size: 18px;
  /* background-color: #8f32a8; */
  position: absolute;
  margin-top: 20px;
  color:white;
}

.mover {
  offset-path: path("m188.5,93.45313c0,-1 0.87782,-2.00749 1,-3c0.50377,-4.09222 2,-6 4,-9c2,-3 3.89851,-7.07816 7,-11c4.84467,-6.12611 9.74283,-11.34457 15,-15c4.7874,-3.32879 9.65082,-6.67915 15,-9c6.6786,-2.89764 11,-2 15,-1c4,1 7,2 10,5c4,4 7.22733,7.78492 11,12c4.27039,4.77115 4,9 4,12c0,4 -0.71411,9.21168 -3,12c-1.79318,2.18734 -5,4 -8,6c-3,2 -4.297,4.61384 -7,7c-1.67633,1.47984 -4.37506,3.55619 -8,7c-5.66234,5.3794 -9.72961,10.22885 -14,15c-4.71585,5.26885 -9,9 -14,14c-5,5 -9,10 -13,14c-4,4 -8.72507,7.46356 -13,14c-2.44781,3.74275 -6.29362,7.7265 -10,12c-3.27602,3.77727 -7,8 -11,12c-4,4 -8.65131,8.28702 -12,12c-3.90521,4.33005 -7.04091,8.96439 -14,17c-6.03563,6.9693 -11.12656,15.39534 -16,25c-4.26876,8.41295 -10.16743,16.90143 -16,27c-5.14925,8.91547 -10.84322,19.72903 -14,31c-4.12564,14.73019 -6.99887,27.92874 -8,49c-0.75933,15.98196 0,30 0,40c0,9 0.00874,20.03784 1,33c1.00292,13.11465 3.79665,23.09317 8,32c4.77161,10.11096 11.58596,20.43024 23,31c6.76459,6.26422 15,11 24,15c9,4 15.93796,6.49829 22,7c5.97955,0.49487 12,0 18,0c5,0 12.40683,-2.18817 19,-6c8.65726,-5.00519 17.60971,-12.55914 26,-18c8.63834,-5.60172 15.49689,-9.71014 20,-18c7.90121,-14.54547 16,-33 25,-51l7,-12l3,-6");
  offset-distance: 0;
  animation: move 45000ms infinite alternate;
  /* width: 12rem;
  height: 2rem; */
  border-radius: 50%;
  background-color: #fcba03;
  color:black;
  /* background-color: salmon; */
}
.mover2 {
  offset-path: path("m595.5,221.45313c0,1 0,3 1,3c0,0 0.07611,0.38269 1,0c2.6131,-1.0824 4.92554,-3.62062 7,-10c1.88104,-5.78461 -2.48999,-15.28334 -11,-30c-9.44507,-16.33372 -13.46448,-20.46446 -17,-24c-3.53552,-3.53554 -9.37128,-10.59218 -16,-17c-4.60376,-4.45033 -8.19031,-6.88152 -10,-10c-2.24469,-3.868 -6.3244,-7.68999 -13,-15c-5.26672,-5.76727 -6.86713,-8.13902 -10,-11c-5.76727,-5.26675 -19.63519,-13.87724 -38,-21c-14.74146,-5.71746 -21.05164,-5.64073 -25,-5c-3.12143,0.50654 -9.26736,4.10635 -16,15c-7.52731,12.17947 -12.44785,29.89166 -13,47c-0.61374,19.0164 9.70862,38.26613 28,58c20.67511,22.3056 37.0593,39.09673 48,53c8.91876,11.33383 13.39825,20.0874 15,29c0.72931,4.05811 2.1391,9.97418 3,15c1.19385,6.96957 4,15 9,24c5,9 13.31506,17.74179 19,25c5.30432,6.77231 10.96429,12.42703 16,22c2.50708,4.76599 2.36096,8.14221 4,14c1.45105,5.18597 3.57971,11.15686 6,17c2.56714,6.19757 6.22687,11.81799 11,18c5.2572,6.80896 11.57715,12.73657 15,21c2.42029,5.84314 2.41852,11.22629 5,17c3.29077,7.36008 7.67944,12.57111 10,17c1.46765,2.80109 2.53235,6.19891 4,9c2.32056,4.42889 4.55817,6.51929 8,9c1.81396,1.30746 3.01501,0.75565 5,1c4.09222,0.50378 7,1 12,1c6,0 14.24426,-1.41547 22,-5c9.34576,-4.3194 18.02783,-9.9549 31,-18c8.01733,-4.9722 18.86719,-9.99121 26,-17c8.13269,-7.99124 14.29718,-23.89169 20,-40c3.16608,-8.94293 7.97125,-18.7587 10,-29c1.95288,-9.85831 -1.57971,-23.15686 -4,-29c-0.85571,-2.06586 -0.63342,-5.02249 -1,-8c-0.50378,-4.09222 -2,-9 -5,-12c-4,-4 -7.18536,-7.82285 -11,-12c-5.26672,-5.76727 -12.67737,-15.34097 -19,-21c-4.77112,-4.27039 -10.04736,-7.9379 -14,-11c-5.06189,-3.92142 -11.11407,-8.77957 -19,-13c-7.10828,-3.80423 -12.9007,-5.2124 -17,-7c-7.83179,-3.41519 -21.92578,-7.49756 -27,-8c-3.98053,-0.39417 -6.02673,0.22977 -7,0c-2.17627,-0.51373 -4,-2 -4,-3l0,1l-1,0l0,0");
  offset-distance: 0;
  animation: move 40000ms infinite alternate;
  /* width: 20rem;
  height: 2rem; */
  border-radius: 50%;
  background-color: #285e0a;
  /* background-color: salmon; */
}
.mover3{
  offset-path: path("m319.5,362.45313c2,-2 2.67963,-5.02582 3,-7c0.50653,-3.12143 1,-7 2,-10c1,-3 1.71411,-7.21167 4,-10c1.79318,-2.18735 5.28912,-3.04868 10,-5c3.33109,-1.37979 7.06458,-2.8009 12,-2c6.24289,1.01309 12.29367,4.4733 18,8c4.25327,2.62866 8.11215,5.9183 11,10c2.08246,2.94336 2,6 2,9c0,3 0,6 2,10c2,4 3.11588,7.96384 4,11c1.15277,3.95868 2,6 2,9c0,2 -2.61383,4.297 -5,7c-2.95969,3.35266 -3,8 -3,13c0,4 0,7 0,9c0,3 0.87183,6.08954 3,9c3.77945,5.16873 8.04733,8.9379 12,12c5.06186,3.92142 12,11 17,16c3,3 5,5 5,6c0,1 0,4 0,6c0,4 0,8 1,12c1,4 2.49347,6.87857 3,10c0.16019,0.98709 0.14728,3.1731 -1,4c-1.814,1.30746 -4.48627,2.82376 -5,5c-0.68927,2.91974 -1.1731,3.85272 -2,5c-1.30746,1.814 -1,5 -1,7c0,3 -0.47983,5.32367 1,7c2.38617,2.703 5,5 9,8c4,3 6,4 7,4c0,0 -0.09366,0.10339 1,1c2.78833,2.28589 6.37201,2.38507 10,5c2.29453,1.65381 4.02676,2.77026 5,3c2.17624,0.51373 3,1 3,1c1,1 1,1 2,1c1,0 1.69345,0.4588 3,1c0.92389,0.38269 3,0 5,0l1,0");
  offset-distance: 0;
  animation: move 70000ms infinite alternate;
  /* width: 50rem;
  height: 2rem; */
  background-color:#1d455c;
  border-radius: 50%;
}
.mover4{
  offset-path: path("m221.5,141.45313c0,0 0,-1 0,-1c0,-1 -0.32036,-2.02582 0,-4c0.50655,-3.12144 1,-7 3,-11c1,-2 2.47427,-3.14935 3,-4c1.17557,-1.90211 3,-2 4,-2c3,0 5.02582,-0.32037 7,0c3.12144,0.50654 6.88152,3.19028 10,5c3.868,2.24468 7.37201,3.38509 11,6c3.4418,2.48071 4.88153,4.19028 8,6c1.93399,1.12234 4.186,1.69255 6,3c1.14728,0.8269 3,2 4,3c2,2 3.69254,3.186 5,5c1.65381,2.29454 4.5582,4.51929 8,7c1.814,1.30745 4,3 5,4c1,1 1,2 1,2c0,1 -0.77023,2.02675 -1,3c-0.51373,2.17625 -1.69254,4.186 -3,6c-0.8269,1.14726 -1.4588,1.69344 -2,3c-0.76538,1.84776 0,3 -1,4c0,0 0,1 -1,1c-2,0 -3.15225,0.23463 -5,1c-1.30655,0.5412 -3,1 -4,1c-1,0 -2,0 -3,0c-1,0 -3,0 -5,0c-2,0 -3.0535,-0.5405 -5,-1c-2.17624,-0.51375 -3,-1 -5,-2c-2,-1 -4.41885,-1.41885 -6,-3c-1.58115,-1.58115 -2.41885,-3.41885 -4,-5c-1.58115,-1.58115 -3.34619,-3.70546 -5,-6c-1.30745,-1.814 -0.67964,-4.02582 -1,-6c-0.50655,-3.12144 -1,-5 -1,-7c0,-2 0.69255,-3.186 2,-5c0.8269,-1.14726 2.69255,-3.186 4,-5c1.65381,-2.29454 4.70546,-2.34619 7,-4c1.814,-1.30745 3,-2 5,-3c2,-1 4,-1 6,-1c3,0 7,0 10,0c4,0 7,0 10,0c2,0 5,0 8,0c1,0 3,0 5,0c3,0 5,0 7,0c2,0 3.87857,0.49345 7,1c3.94836,0.64073 6.90778,0.49623 11,1c1.98502,0.24437 5,0 7,0l3,0l2,0l4,0");
  offset-distance: 0;
  animation: move 50000ms infinite alternate;
  /* width: 50rem;
  height: 2rem; */
  border-radius: 50%;
    background-color: #8f32a8;
}
@keyframes move {
  to {
    offset-distance: 100%;
  }
}
