
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  opacity:0.2;
  float:right;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  /* background-color: #4CAF50; */
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.sidebar2 {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  opacity:0.2;
  position: fixed;

  height: 100%;
  overflow: auto;
}

.sidebar2 a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar2 a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar2 a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.content {
  margin-left: 200px;
  width:78%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
