@font-face {
    font-family: OpenDyslexic;
    font-style:normal;
    font-weight: 400;
    src: url("../OpenDyslexic-Regular.otf") format("opentype");
}
@font-face {
    font-family: OpenDyslexic;
    font-style:normal;
    font-weight: 700;
    src: url("../OpenDyslexic-Bold.otf") format("opentype");
}
@font-face {
    font-family: OpenDyslexic;
    font-style:italic;
    font-weight: 400;
    src: url("../OpenDyslexic-Italic.otf") format("opentype");
}
@font-face {
    font-family: OpenDyslexic;
    font-style:italic;
    font-weight: 700;
    src: url("../OpenDyslexic-BoldItalic.otf") format("opentype");
}


body {
  /* font-family: "Spectral", sans-serif; */
  font-family: 'OpenDyslexic';
  font-weight: 300;
  margin: 0;
  padding: 0;

/* background: grey; */
}

.planeWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* background: grey; */

  overflow: scroll;
  z-index: 0;
}

.planez {
  position: relative;
  width: 406.25em;
  height: 406.25em;
  z-index: 0;
  overflow: hidden;
  font-size: 1em;
  margin: auto;
  background-image: linear-gradient(to bottom right, #98f542, #42f566, #4269f5, #5de8bc, #5da669);
  background-size: cover;
  background-repeat: no-repeat;
}
.planez > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.planeContent {
  z-index: 1;
}

.startScreen {
  position: absolute;
  top: 200em;
  left: 200em;
  width: 60em;
  height: 30em;
  display: flex;
}


.newWork{
  position: absolute;
  top: 300em;
  left: 300em;
  width: 60em;
  height: 30em;
  display: flex;
}

.participants{
  position: absolute;
  top: 200em;
  left: 350em;
  width: 60em;
  height: 30em;
  display: flex;
}

.publications{
  position: absolute;
  top: 50em;
  left: 300em;
  width: 60em;
  height: 30em;
  display: flex;
}

.planeBackground {
  z-index: 0;
  /* background-image: url("../images/11-_MG_0064.jpg"); */
  /* background-size: 6.25em 6.26em; */
}
/* .planeBackground .randomElement {
  position: absolute;
  width: 35em;
  height: 35em;
  border-radius: 50%;
  background: radial-gradient(circle, white 0%, rgba(0, 0, 0, 0) 70%);
  opacity: 0.13;
  will-change: opacity;
} */

.controls {
  position: fixed;
  right: 0;
  top: 0;
  bottom:0;
  display: flex;
  z-index: 2;
  padding: 0 0 0 1em;
  flex-direction: column;
  overflow-y: scroll;

}
.controls > * {
  padding: 1em;
  margin: 1em 1em 0 0;
  border: 1px grey solid;
  cursor: pointer;
  color: white;

  /* background: black; */

}

.pacingistheway{
  position: absolute;
  top: 200em;
  left: 170em;
  /* font-family: 'Sora', sans-serif; */
    /* font-family: 'OpenDyslexic'; */
  /* display:flex; */
}
.importantmov{
  position: absolute;
  top: 240em;
  left: 160em;
  color:white;
  /* font-family: impact; */
}
.chooseadventure{
  position: absolute;
  top: 100em;
  left: 50em;
}
.pacingsnail{
  position:absolute;
  top: 200em;
  left: 50em;
}

.answeropenly{
  position: absolute;
  top: 150em;
  left: 170em;
  color: white;
}

.spiral{
  position: absolute;
  top: 300em;
  left: 40em;
  color: white;
}

.planedroplets{
  position: absolute;
  top: 200em;
  left: 40em;
  color: #c27ba0;
}
